# ============================================
# CONFIGURAÇÕES DO SERVIDOR
# ============================================
PORT=3001
HOST=0.0.0.0

# ============================================
# KAFKA
# ============================================
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC_RECEIVED=received.message.ogx
KAFKA_TOPIC_TRANSLATE=translate.message.ogx
KAFKA_TOPIC_SEND=send.message.ogx
KAFKA_GROUP_ID=iot-isadatapro-ogx-middleware
KAFKA_ENABLED=true

# ============================================
# FORWARD API (encaminhamento para core-isadatapro-orbcomm-middleware)
# ============================================
FORWARD_API_URL=http://localhost:8080/message
FORWARD_ACCOUNT_ID=60003666
FORWARD_API_ENABLED=true
